finance-chatbot-n8n-workflow.json
{
  "name": "Finance Chatbot - Yahoo Finance Canada (Chat Trigger, 5-min memory)",
  "nodes": [
    {
      "parameters": {
        "path": "finance-chatbot-chat-trigger",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "1",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 150]
    },
    {
      "parameters": {
        "functionCode": "const incoming = items[0].json;\nconst message = incoming.message || incoming.text || '';\nconst symbol = incoming.symbol || incoming.ticker || 'TSX:RY';\nconst now = Date.now();\nconst staticData = this.getWorkflowStaticData('workflow');\nconst lastMessages = Array.isArray(staticData.lastMessages) ? staticData.lastMessages : [];\nlastMessages.push({ role: 'user', content: message, timestamp: now });\nconst cutoff = now - 5 * 60 * 1000;\nconst recentMessages = lastMessages.filter((m) => m.timestamp >= cutoff);\nstaticData.lastMessages = recentMessages;\nreturn [{ json: { ...incoming, message, symbol, lastMessages: recentMessages } }];"
      },
      "id": "2",
      "name": "Store 5-Min Memory",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [500, 150]
    },
    {
      "parameters": {
        "url": "=https://query1.finance.yahoo.com/v7/finance/quote?symbols={{$json[\"symbol\"]}}",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "responseFormat": "json",
        "jsonParameters": false,
        "queryParametersUi": {
          "parameter": []
        }
      },
      "id": "3",
      "name": "Fetch Yahoo Finance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [750, 150]
    },
    {
      "parameters": {
        "functionCode": "const incoming = items[0].json;\nconst quote = incoming.quoteResponse?.result?.[0] || {};\nconst lastMessages = incoming.lastMessages || [];\nconst financialData = {\n  symbol: incoming.symbol || 'TSX:RY',\n  name: quote.longName || quote.shortName || incoming.symbol,\n  currency: quote.currency || 'CAD',\n  regularMarketPrice: quote.regularMarketPrice,\n  previousClose: quote.regularMarketPreviousClose,\n  open: quote.regularMarketOpen,\n  dayHigh: quote.regularMarketDayHigh,\n  dayLow: quote.regularMarketDayLow,\n  marketCap: quote.marketCap,\n  fiftyTwoWeekHigh: quote.fiftyTwoWeekHigh,\n  fiftyTwoWeekLow: quote.fiftyTwoWeekLow,\n  trailingPE: quote.trailingPE,\n  forwardPE: quote.forwardPE,\n  marketState: quote.marketState\n};\nconst prompt = `Vous êtes un analyste financier expert du site Yahoo Finance Canada.\n\nMessage analyste : ${incoming.message || incoming.text || 'Résumé financier demandé.'}\n\nDonnées Yahoo Finance Canada : ${JSON.stringify(financialData, null, 2)}\n\nHistorique de conversation (5 dernières minutes) : ${JSON.stringify(lastMessages, null, 2)}\n\nFournissez un résumé clair et structuré pour un analyste financier, en soulignant les indicateurs clés, tendances, risques et points de vigilance.`;\nreturn [{ json: { symbol: incoming.symbol, financialData, lastMessages, prompt } }];"
      },
      "id": "4",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "send",
        "model": "gpt-4.1",
        "additionalFields": {
          "messages": [
            {
              "role": "system",
              "content": "Tu es un expert financier spécialisé sur Yahoo Finance Canada. Fournis un résumé détaillé et structuré pour un analyste financier, en mentionnant indicateurs, risques, points de vigilance et recommandations exploitables."
            },
            {
              "role": "user",
              "content": "{{$json[\"prompt\"]}}"
            }
          ]
        }
      },
      "id": "5",
      "name": "ChatGPT 4.1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "functionCode": "const incoming = items[0].json;\nconst responseText = incoming.choices?.[0]?.message?.content || incoming.choices?.[0]?.text || '';\nconst staticData = this.getWorkflowStaticData('workflow');\nconst lastMessages = Array.isArray(staticData.lastMessages) ? staticData.lastMessages : [];\nconst now = Date.now();\nlastMessages.push({ role: 'assistant', content: responseText, timestamp: now });\nconst cutoff = now - 5 * 60 * 1000;\nstaticData.lastMessages = lastMessages.filter((m) => m.timestamp >= cutoff);\nreturn [{ json: { symbol: incoming.symbol || '', summary: responseText, source: 'Yahoo Finance Canada', timestamp: new Date().toISOString(), memory: staticData.lastMessages, raw: incoming } }];"
      },
      "id": "6",
      "name": "Store Assistant Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1500, 150]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Store 5-Min Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store 5-Min Memory": {
      "main": [
        [
          {
            "node": "Fetch Yahoo Finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Yahoo Finance": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "ChatGPT 4.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT 4.1": {
      "main": [
        [
          {
            "node": "Store Assistant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
